<main class="flex items-center justify-center h-screen">
    <div class="  w-[700px] h-[800px] bg-white rounded-xl  overflow-y-scroll  overflow-hidden">
       
        <div class="fixed flex flex-row justify-between w-[700px] h-[70px] border-b-[1px] border-slate-200 p-4 bg-white rounded-xl">
            <p class="font-bold text-2xl ">Edit intro</p>
            <p routerLink="/profile"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </p>
        </div>
        <div class="flex justify-center mt-24 pb-16  ">
            <div class="">
                <p class="text-slate-500">*Indicates required</p>
                <form [formGroup]="detailsForm" >
                  <div class="flex flex-col gap-5">
                    <div class="flex-col flex gap-5 pt-3">
                      <div class="flex flex-col  ">
                        <label class="text-slate-600" for="firstName">First name*</label>
                        <input class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md" type="text" id="firstName" formControlName="firstName">
                        
                        
                      </div>
                      <div class="flex flex-col">
                        <label class="text-slate-600" for="lastName">Last name*</label>
                        <input class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md" type="text" id="lastName" formControlName="lastName">
                        
                      </div>
                      <div class="flex flex-col">
                        <label class="text-slate-600" for="lastName">Additional name </label>
                        <input class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md" type="text" id="additionalName" formControlName="additionalName">
                       
                      </div>
                    </div>     
                    <div class=" flex flex-col gap-4">
                      <p class="text-slate-600">Name pronunciation</p>
                      <li class="list-none flex flex-row">
                        <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="grey" class="mercado-match" width="18" height="18" focusable="false">
                          <path d="M12 2H4a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2zm-3 8v2H7.5A1.5 1.5 0 016 10.5a1.56 1.56 0 01.1-.5l1.08-3h2.13l-1.09 3zm0-3.75A1.25 1.25 0 1110.25 5 1.25 1.25 0 019 6.25z"></path>
                          </svg>
                        </p>
                        <p class="text-sm text-slate-500"> This can only be added using our mobile app </p>
                      </li>

                      <div class="flex flex-col">
                        <label class="text-slate-600" for="lastName">Pronouns </label>
                        <select name="pronouns" id="" class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md bg-none">
                          <optgroup >
                            <option value="she">Please select</option>                          
                            <option value="she">She/Her</option>
                            <option value="he">He/Him</option>
                            <option value="they">They/Them</option>
                            <option value="custom">Custom</option>

                          </optgroup>

                        </select>
                        <p class="text-sm text-slate-500"> Let others know how to refer to you. </p>
                        
                      </div>
                      <ul class="flex">
                        <p class="text-slate-500">Learn more about </p>
                        <p class="font-bold text-blue-500">gender pronouns.</p>
                      </ul>

                      <select class="text-slate-500 font-bold w-[220px] h-[30px] border-[2px] border-slate-600 rounded-full bg-white pl-2  ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="visibility-small" class="w-4 h-4" aria-hidden="true" role="none" data-supported-dps="16x16" fill="currentColor">
                          <path d="M8 3a8.59 8.59 0 00-8 5 8.54 8.54 0 008 5 8.55 8.55 0 008-5 8.55 8.55 0 00-8-5zm0 8a3 3 0 113-3 3 3 0 01-3 3zm2-3a2 2 0 11-2-2 2 2 0 012 2z"></path>
                        </svg>
                        <optgroup>
                          <option class="text-slate-500 font-bold" value="Connections" > Your Connections </option>
                          <option value="Connections">All Linkedin members</option>
                        </optgroup>
                      </select>
                    </div>  
                    <div class="flex flex-col  ">
                      <label class="text-slate-600" for="firstName">Headline*</label>
                      <input class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md" type="text" id="headline" formControlName="headline">
                                         
                    </div>
                    <div>                    
                    </div>

                    <div class="flex flex-col gap-3">
                      <p class="font-bold"> Current position </p>
                      <div class="flex flex-col  ">
                        <label class="text-slate-600" for="firstName">Position*</label>
                        <input class="w-[600px] h-[30px] border-[2px] border-slate-500 rounded-md" type="text" id="position" formControlName="position">
                                           
                      </div>
                      <p class="font-bold text-blue-500">+ Add new position</p>
                    </div>

                    <div class="flex flex-row items-center gap-3">
                      <input class="w-8 h-8" type="checkbox">
                      <label for="">Show current company in my intro</label>
                    </div>

                  </div>
                </form>
            </div>
            
          </div>
          <div class="fixed flex justify-end bottom-12 w-[700px] h-[70px]  border-t-[1px] border-slate-200 p-4 bg-white rounded-lg">
            <button class="w-20 h-10 rounded-lg bg-blue-500 text-white   " (click)="OnSubmit()">save</button>
          </div>
    </div>
</main>